
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import '~font-awesome/scss/font-awesome';

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-index {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: snow;
  z-index: 100;
  .navbar-index__brand {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px;
    color: $primary;
  }
  .navbar-index__right-menu {
    
  }
}

.navbar-index__list-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  li {
    float: left;
    a {
      display: inline-block;
      padding: 20px 20px;
      color: grey;
    }
  }
}

.erdles-head {
  color: white;
  text-align: center;
}

.erdles-head__content {
  background-color: rgba(2, 41, 82, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.erdles-head__content--text {
  h1 {
    font-weight: 600;
  }
}

.erdles-what {
  background-color: snow;
  color: $primary;
}

.erdles-what-text {
  background-color: snow;
  color: $primary;
}

.erdles-penjelasan__left {
  text-align: center;
  padding: 80px 0 60px;
  h1 {
    margin: 0;
    font-weight: 600
  }
  p {
    font-size: 1.3rem;
  }
}

.erdles-penjelasan__right {
  padding: 60px 60px;
  p {
    margin: 0;
    font-size: 1.3rem;
  }
}

.feature {
  .feature__header-text {
    padding: 80px 0;
    color: $primary;
    text-align: center;
    h2 {
      font-weight: 600;
    }
    p {
      color: grey;
      font-size: 1.3rem
    }
  }
}

.about-us {
  background-color: $primary;
  color: white;
  .about-us__text {
    padding: 50px 0;
    h2 {
      display: inline-block;
      padding-bottom: 10px;
      border-bottom: 5px solid white;
      font-weight: 600;
    }
    h3 {
      font-size: 2rem;
    }
    .kelompok {
        font-size: 2rem;
    }
  }
}

.about-us__card-ct {
  h2 {
    color: $primary;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 5px solid $primary;
    font-weight: 600;
  }
}

.btn-pink {
  background-color: $primary;
  color: white;
}

.penutup {
  padding: 10px;
  background-color: snow;
  color: $primary;
  p {
    margin: 0;
  }
}

// Custom SCSS

.home-beranda {
  background-color: $primary;
  color: white;
  p {
    font-size: 1.2rem;
  }
}

.home-quotes {
  background-color: $primary;
  color: white;
  p {
    font-size: 1.4rem;
  }
}

.primary-color {
  color: $primary;
}

.primary-color-background {
  background-color: $primary;
}

.register-login {
  background-color: rgb(0, 26, 54);
  min-height: 100vh;
}
